EigenRisk_CaseStudy/data/world_car_sales_1m.csv
EigenRisk_CaseStudy/out/build/x64-debug/.ninja_deps
EigenRisk_CaseStudy/out/build/x64-debug/build.ninja
EigenRisk_CaseStudy/out/build/x64-debug/CMakeCache.txt
EigenRisk_CaseStudy/out/build/x64-debug/cmake_install.cmake
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/rules.ninja
EigenRisk_CaseStudy/out/build/x64-debug/EigenRisk_CaseStudy.exe
EigenRisk_CaseStudy/out/build/x64-debug/EigenRisk_CaseStudy.ilk
EigenRisk_CaseStudy/out/build/x64-debug/EigenRisk_CaseStudy.pdb
EigenRisk_CaseStudy/out/build/x64-debug/VSInheritEnvironments.txt
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/cmake.check_cache
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/ShowIncludes/foo.h
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/ShowIncludes/main.c
EigenRisk_CaseStudy/out/build/x64-debug/Testing/Temporary/LastTest.log
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/ShowIncludes/main.obj
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/TargetDirectories.txt
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/CMakeConfigureLog.yaml
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CMakeSystem.cmake
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CMakeCCompiler.cmake
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/EigenRisk_CaseStudy.dir/vc140.idb
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/EigenRisk_CaseStudy.dir/vc140.pdb
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CMakeRCCompiler.cmake
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CMakeCXXCompiler.cmake
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/EigenRisk_CaseStudy.dir/manifest.rc
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/EigenRisk_CaseStudy.dir/manifest.res
EigenRisk_CaseStudy/out/build/x64-debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/EigenRisk_CaseStudy.dir/embed.manifest
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/EigenRisk_CaseStudy.dir/CarSale.cpp.obj
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/EigenRisk_CaseStudy.dir/Importer.cpp.obj
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/EigenRisk_CaseStudy.dir/Validator.cpp.obj
EigenRisk_CaseStudy/out/build/x64-debug/.cmake/api/v1/reply/cache-v2-8da73d5c29bc13751d72.json
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CompilerIdC/CMakeCCompilerId.c
EigenRisk_CaseStudy/out/build/x64-debug/.cmake/api/v1/reply/index-2025-11-26T12-06-17-0235.json
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CMakeDetermineCompilerABI_C.bin
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CompilerIdC/CMakeCCompilerId.exe
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CompilerIdC/CMakeCCompilerId.obj
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/EigenRisk_CaseStudy.dir/intermediate.manifest
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CMakeDetermineCompilerABI_CXX.bin
EigenRisk_CaseStudy/out/build/x64-debug/.cmake/api/v1/reply/codemodel-v2-f212fdcd870b2377c850.json
EigenRisk_CaseStudy/out/build/x64-debug/.cmake/api/v1/reply/cmakeFiles-v1-729d95b3a6a2dee7b820.json
EigenRisk_CaseStudy/out/build/x64-debug/.cmake/api/v1/reply/toolchains-v1-9666baa2616c9fea3f60.json
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/CMakeCXXCompilerId.cpp
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/CMakeCXXCompilerId.exe
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/CMakeCXXCompilerId.obj
EigenRisk_CaseStudy/out/build/x64-debug/CMakeFiles/EigenRisk_CaseStudy.dir/EigenRisk_CaseStudy.cpp.obj
EigenRisk_CaseStudy/out/build/x64-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
EigenRisk_CaseStudy/out/build/x64-debug/.cmake/api/v1/reply/target-EigenRisk_CaseStudy-Debug-9170bcb2b9070f86fa09.json
EigenRisk_CaseStudy/.vs/slnx.sqlite
EigenRisk_CaseStudy/.vs/ProjectSettings.json
EigenRisk_CaseStudy/.vs/VSWorkspaceState.json
EigenRisk_CaseStudy/.vs/CMakeWorkspaceSettings.json
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/v17/.wsuo
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/v17/Browse.VC.db
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/v17/Solution.VC.db
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/v17/Browse.VC.db-shm
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/v17/Browse.VC.db-wal
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/v17/Browse.VC.opendb
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/v17/DocumentLayout.json
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/v17/DocumentLayout.backup.json
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/CopilotIndices/17.14.1368.60722/CodeChunks.db
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/v17/ipch/AutoPCH/c245979a66577cf/IMPORTER.ipch
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/v17/ipch/AutoPCH/d8c75c0347225c54/CARSALE.ipch
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/v17/ipch/AutoPCH/f06d52a1da754818/CARSALE.ipch
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/v17/ipch/AutoPCH/74ad95a5dbd4ee6b/VALIDATOR.ipch
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/v17/ipch/AutoPCH/cac4c241430f8395/HASHUTILS.ipch
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/v17/ipch/AutoPCH/db7a206cf0cf3204/HASHUTILS.ipch
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/v17/ipch/AutoPCH/dd4bd5a54cd3fdcd/HASHUTILS.ipch
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/CopilotIndices/17.14.1368.60722/CodeChunks.db-shm
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/CopilotIndices/17.14.1368.60722/CodeChunks.db-wal
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/v17/ipch/AutoPCH/84d88c0927690507/TMP25F8.TMP.ipch
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-shm
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-wal
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/v17/ipch/AutoPCH/c56161934ec33610/EIGENRISK_CASESTUDY.ipch
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/FileContentIndex/69a6cd8b-6f94-4c35-b368-33b3e4a9cbb4.vsidx
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/FileContentIndex/8ccb5198-e4ae-4629-b844-e8669e065b05.vsidx
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/FileContentIndex/c6f3ff16-a6d8-43d6-9d91-e21eda7b7ae3.vsidx
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/FileContentIndex/c7ce80a8-96ed-4239-8c9d-784250e42a98.vsidx
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/FileContentIndex/cf0d2616-ff96-46e2-9e26-aa923c3e5295.vsidx
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/copilot-chat/df75e6df/sessions/25c15119-149c-4aeb-8e24-c9bcfb374d52
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/copilot-chat/df75e6df/sessions/b919f8c0-aa12-440a-bbf3-ae4bc67e7133
EigenRisk_CaseStudy/.vs/EigenRisk_CaseStudy/copilot-chat/df75e6df/sessions/c78de12c-3fdd-4648-b7ed-2d0ec8a80374
